# Ignore export folders
**/export/

# Ignore common build artifacts
*.box
*.ova
*.ovf
*.vmdk
*.iso
*.xva

# Ignore Packer cache
packer_cache/
.packer/

# Ignore logs
*.log
packer-*.log

# Ignore temporary files
*.tmp
*.temp
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db
